<!DOCTYPE html>
<html lang="en">
<script src="../static/bootstrap/js/bootstrap.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>CSG0男人工作室</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/jquery/jquery-3.0.0.min.js}"></script>
    <script th:src="@{twitter-bootstrap.js}"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>


        <script th:inline="javascript" type="text/javascript" charset="utf-8">
            function changeorder(currentPage) {
                javascript:window.location.href= "/?isDes=1&currentPage=" + currentPage;
            }

            function changeorder2(currentPage) {
                javascript:window.location.href= "/?isDes=0&currentPage=" + currentPage;
            }

            function showtopic(idtopic) {
                javascript:window.location.href= "/thistopic/" + idtopic;
            }
    </script>
    <style>
        .body {
            background-color: #999999;

        }

        .container-fluid {
            border: 0px solid;
            border-radius: 25px;
            -moz-border-radius: 25px;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: 30px;
            margin-left: 30px;

        }

        .media-object {
            width: 45px;
            height: 45px;
        }

        .infos {
            font-size: 12px;
            font-weight: normal;
            color: #737373;
            float: left;
            margin-right: 250px;
        }

        body{
            background-image: url('pic/bg1.jpg');

            background-attachment:fixed;
            background-position:center;
        }

    </style>

</head>
<body class="body" >
<div  th:insert="~{naviFragement::topNavi}"></div>

<div class="container-fluid" style="margin-left: 80px ;margin-top: 40px;margin-right: 80px;background-color: white">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>宝藏开箱</h2>
            <div><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" style="float: right" id="order"
                       th:onclick="'javascript:changeorder('+${pageDto.currentPage}+')'">倒序</span>
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true" style="float: right"
                      id="order2" th:onclick="'javascript:changeorder2('+${pageDto.currentPage}+')'">正序</span></div>
            <hr>

            <div class="media" th:each=" TopicDto:${pageDto.getTiopics()}">
                <div class="media-left media-thumbnail">
                    <a href="#">
                        <img class="media-object img-circle" th:src="@{${TopicDto.getCreatuser().getAvatar_url()}}"
                             alt="...">
                    </a>
                </div>
                <div class="media-body" th:onclick="'javascript:showtopic('+${TopicDto.getIdtopic()}+')'">
                    <h4 class="media-heading" th:text="${TopicDto.getTitle()}"></h4>
                    <span th:text="${TopicDto.getTopiccontext()}"></span>
                    <br>
                    <span class="infos"
                          th:text="'·回复数: '+${TopicDto.getComment_count()}+' ·浏览数: '+${TopicDto.getRead_count()}+'·发布时间: '+${#dates.format(TopicDto.getCreate_time(),'dd_MMMM_yyyy')}"></span>

                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pageDto.showFirst}">
                        <a href="/?currentPage=1" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pageDto.showPrevious}">
                        <a th:href="@{/(currentPage=${pageDto.currentPage -1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a></li>
                    <li th:each=" currentPage: ${pageDto.pages}"
                        th:class="${pageDto.currentPage == currentPage}? 'active' : '' ">

                        <a th:href="@{/(currentPage=${currentPage})}" th:text="${currentPage}"></a>
                    </li>

                    <li th:if="${pageDto.showNext}"><a th:href="@{/(currentPage=${pageDto.currentPage +1})}"
                                                       aria-label="Previous"><span aria-hidden="true">&gt;</span></a>
                    </li>

                    <li th:if="${pageDto.showLast}"><a th:href="@{/(currentPage=${pageDto.totalPages})}"
                                                       aria-label="Previous"> <span
                            aria-hidden="true">&gt;&gt;</span></a></li>


                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <span class=" glyphicon glyphicon-king" aria-hidden="true"
                  style="font-size: 19px;float: left ;margin-top: 30px">本周经典节目排行榜</span>

        </div>
    </div>
</div>

</body>
</html>