<!DOCTYPE html>
<html lang="en">
<script src="../static/bootstrap/js/bootstrap.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>发布</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/jquery/jquery-3.0.0.min.js}"></script>
    <script th:src="@{twitter-bootstrap.js}"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
<!--    <style>-->
<!--        .body{-->
<!--            background-color: #999999;-->
<!--        }-->
<!--    </style>-->
    <style>
        .container-fluid {

            padding-right: 15px;
            padding-left: 15px;
            margin-right: 30px;
            margin-left: 30px;
            border:2px solid;
            border-radius:25px;
            -moz-border-radius:25px;

        }
        .body{
            background-color: #737373;

        }

        .alert alert-danger{
            width: 300px;
        }
    </style>
</head>
<body class="body">
<nav  class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">饭圈宝藏男孩工作室</span>

            </button>
            <a class="navbar-brand" href="/">饭圈宝藏男孩工作室</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="最新饭圈消息">
                </div>
                <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-adjust" aria-hidden="true">阴阳一下！</span></button>
                <button type="button" class="btn btn-success" style="float: right" onclick="window.location.href='/'" ><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true">返回主页!</span></button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="'hi ! '+${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"> 我的消息 <span class="badge">4</span></a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
                <li> <img th:src="@{${session.icon}}" alt="" class="img-circle" style="width: 40px;height:40px"/></li>
                <li th:if="${session.user==null}"><a href="https://github.com/login/oauth/authorize?client_id=4c2b0e2cf07a428b2ead&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a></li>

            </ul>
        </div>
    </div>
    <hr>
</nav>
<div class="container-fluid" style="margin-left: 80px ;margin-top: 40px;margin-right: 80px;background-color: white" >
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-share" aria-hidden="true"></span>发起你的话题</h2>
            <div class="alert alert-danger"  th:text="${error}" style="background-color:white"><h3></h3></div>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">话题标题:</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="详细讲讲" th:value="${title}">
                </div>
                <div class="form-group">
                    <label for="topiccontext">话题内容:</label>
                    <textarea name="topiccontext" id="topiccontext" class="form-control" rows="15" th:text="${topiccontext}"></textarea>

                </div>

                <div class="form-group">
                    <label for="tags">添加标签</label>
                    <input type="text" class="form-control" id="tags" name="tags" placeholder="输入标签以逗号为分界" th:value="${tags}">

                </div>
                <button type="submit" class="btn btn-primary" style="float: right ;background-color: #2b542c">提交</button>

            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <H3>饭圈交流礼貌用语：</H3>

            <pre>"那可真的是有够好笑的呢"
                    "那是真的牛皮"
                    "我劈了你马"
                    "发一把"
                   "你打你马呢"</pre>


        </div>
    </div>
</div>
</body>
</html>